<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../styles/restaurants.css" />
  </head>
  <body>
    <!-- uses EJS to point to a partial file -->
    <%- include('includes/header') %> 
    <%- include('includes/mobile_menu.ejs') %>
    <main>
      <h1><%= restaurant.name %></h1>
      <p><%= restaurant.cuisine %> | <%= restaurant.address %></p>
      <p><%= restaurant.description %></p>
      <a href="<% restaurant.website %>">Visit Website</a>
    </main>
  </body>
</html>
